@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    font-family: 'Poppins' , sans-serif ;
}
body{
      text-align: center;
       background-color: rgb(247, 255, 24);
   color :rgb(0, 0, 0)
   
    }
